
body {
  width: 100%;
  
}
.App {
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding-right: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #7395da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------- */
#logout{
  position: fixed;
  left: 20px;
  top: 20px;
}
#title{
    font-family: "DK Black Bamboo";

}

#navbar{
  position: fixed;
  right: 20px;
  top: 20px;
}

.dailygoals{
  top: 70px;
  position: absolute;
}

.container{
  top: 530px;
  background-color: tomato;
  position: relative;
  height: 500px;
  width: 100%;
}

.completed{
  background-color: rgb(0, 248, 0);
}

.form{
  width: 100%;
  position: inherit;
}